<!DOCTYPE html>
<html>
  <head>
    <title>PaintStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="height: 300px; width: 300px;">
    </div>
    <%= yield %>
  </body>
</html>
